{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "ie": "11",
        "safari": "10"
      },
      "loose": true,
      "forceAllTransforms": true
    }]
  ],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-transform-block-scoping",
    "@babel/plugin-transform-classes",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-transform-parameters",
    "@babel/plugin-transform-shorthand-properties",
    "@babel/plugin-transform-template-literals"
  ]
}
